In [3]:
# import fibooks libraries
from fibooks import balance_sheet
from fibooks import income_statement
from fibooks import statement_of_cashflows
from fibooks import other
# other libraries (that are integrated with fibooks)
import pandas as pd
import seaborn as sns
from sklearn import tree
import matplotlib.pyplot as plt

In [5]:
company_c = balance_sheet('company c')
company_c.load_excel('bs.xlsx')
company_c.content

,cash,petty cash,accounts receivables,inventory,prepaid expenses,employee advances,temporary investments,land,buildings,furniture and equipment,...,notes payable,mortgage payable,less: current portion of long-term debt,capital stock/partner's equity,opening retained earnings,dividends paid/owner's draw,net income (loss),total equity,total liabilities & equity,balance sheet check
0,21506.0,200.0,5013.0,20887.0,1098.0,100.0,0.0,150000.0,60235.0,28777.0,...,50195.0,148222.0,-1200.0,20000.0,25530.0,-5000.0,8599.0,49129.0,288595.0,0.0
1,20000.0,200.0,5000.0,21000.0,1100.0,0.0,0.0,150000.0,60235.0,30777.0,...,48301.0,146231.0,-1200.0,20000.0,29129.0,-5000.0,9018.0,53147.0,287090.0,0.0
2,1506.0,0.0,13.0,-113.0,-2.0,100.0,0.0,0.0,0.0,-2000.0,...,1894.0,1991.0,0.0,0.0,-3599.0,0.0,-419.0,-4018.0,1505.0,NaN