In [1]:
#printing one and multiple stars
print("x")
print("------------------------------")
print()
print("xx")
print("------------------------------")
print()
print(3*"x")

x
------------------------------

xx
------------------------------

xxx

In [ ]:
SEPERATOR = '\n'+20*'-'+'\n'

print('x', end=SEPERATOR)
print('xx', end=SEPERATOR)
print(1*'x', end=SEPERATOR)
print(2*'x', end=SEPERATOR)

x
--------------------
xx
--------------------
x
--------------------
xx
--------------------

In [ ]:
num_rows = 25  # Number of rows in the symmetric inverted triangle

for x in range(num_rows*2+1,0,-2):
    print(round(((num_rows*2+1)-x)/2)*" ",x*"*")

 ***************************************************
  *************************************************
   ***********************************************
    *********************************************
     *******************************************
      *****************************************
       ***************************************
        *************************************
         ***********************************
          *********************************
           *******************************
            *****************************
             ***************************
              *************************
               ***********************
                *********************
                 *******************
                  *****************
                   ***************
                    *************
                     ***********
                      *********
                       *******
                        *****
                         ***
                          *

In [ ]:
name = "*"
for i in range(5):
    val = 2*i
    print("the value is {:>4}".format(i*name))

the value is
the value is    *
the value is   **
the value is  ***
the value is ****

In [ ]:
#string formatting examples
name = "Charlie"
age = 35
formatted_string = "My name is {age:0.2f} and I am {name} years old.".format(name=name, age=age)
print(formatted_string)

name = "Charlie"
age = 35
formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)

text = "Python"
formatted_string = f"hi {text:^10} there"  # Centered
print(formatted_string)

pi = 3.14159265359
formatted_string = f"Value of Pi: {pi:.2f}"
print(formatted_string)

import datetime
current_time = datetime.datetime.now()
formatted_string = f"Current time: {current_time:%Y-%m-%d %H:%M:%S}"
print(formatted_string)

item = "banana"
quantity = 10
formatted_string = f"{item:10} - {quantity:5}"
print(formatted_string)

number = 1000000
formatted_string = f"{number:,}"
print(formatted_string)

# "{0} {1}".format(first, second)

first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first, second, third)

print(formatted_string)

print('{:d}'.format(int(10.5)))# → '10'
print('{:.2f}'.format(0.5))# → '0.50'
print('{:.2s}'.format('Python'))# → 'Py'
print('{:<6s}'.format('Py'))# → 'Py    '
print('{:>6s}'.format('Py'))# → '    Py'
print('{:^6s}'.format('Py'))# → '  Py  '

My name is 35.00 and I am Charlie years old.
My name is Charlie and I am 35 years old.
hi   Python   there
Value of Pi: 3.14
Current time: 2023-10-24 17:01:03
banana     -    10
1,000,000
apple carrot banana
10
0.50
Py
Py
    Py
  Py

In [ ]:
class Apple:
    color=" "
    flavor=" "

app1 = Apple()
app1.color="red"
app1.flavor="sweet"
print(type(app1),app1.color, app1.flavor)

<class '__main__.Apple'> red sweet

In [ ]:
class Piglet():
    def __init__(self, name, years):
        self.name = name
        self.years = years

    def __str__(self):
        return "this piglet's name is {} and is {} years old".format(self.name, self.pig_years())

    def speak(self):
        print("Oink!Oink!! I am {:>6}. Oink Oink! I am {} years oold".format(self.name, self.pig_years()))

    def pig_years(self):
        return self.years*18

Hemlet = Piglet("Hemlet",3)
Hemlet.speak()

Pinnochio = Piglet("Pinno",2)
Pinnochio.speak()

print(Pinnochio)

Oink!Oink!! I am Hemlet. Oink Oink! I am 54 years oold
Oink!Oink!! I am  Pinno. Oink Oink! I am 36 years oold
this piglet's name is Pinno and is 36 years old